/**se llama primero todo lo que este en utilities*/
/** en segundo lugar, son los elementos de la carpeta base**/
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* en tercer lugar, los elementos del layout*/
header {
  width: 100%;
  background-color: #030226;
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 1000; }
  header .nav-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 1rem; }
    header .nav-wrapper nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: none;
      background-color: #030226; }
      header .nav-wrapper nav .header-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
        width: 30%; }
        header .nav-wrapper nav .header-1 h1 {
          font-family: 'Dosis', sans-serif;
          text-align: center;
          font-weight: 700;
          font-size: 1.5rem;
          text-transform: uppercase;
          color: #F23869; }
      header .nav-wrapper nav .menu {
        width: 70%;
        height: auto;
        overflow: hidden; }
        header .nav-wrapper nav .menu .navbar-1 {
          padding-top: 1rem;
          width: 100%; }
          header .nav-wrapper nav .menu .navbar-1 ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            gap: 0.625rem;
            gap: 1.25rem; }
            header .nav-wrapper nav .menu .navbar-1 ul li:hover {
              transform: scale(1.4); }
            header .nav-wrapper nav .menu .navbar-1 ul li a {
              font-family: 'Dosis', sans-serif;
              text-align: none;
              font-weight: 300;
              font-size: 1rem;
              text-transform: none;
              color: white;
              text-decoration: none;
              transition: text-decoration 1s, color 2s; }
              header .nav-wrapper nav .menu .navbar-1 ul li a:hover {
                color: #F23869;
                text-decoration: underline; }
      header .nav-wrapper nav #toggle, header .nav-wrapper nav label {
        display: none; }

main {
  background-color: #030226;
  width: 100%; }
  main .main-index .titulo-main {
    background-color: #030226;
    width: 100%;
    height: 4.25rem;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white; }
  main .main-index ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: none;
    gap: 1.25rem; }
  main .main-index li img {
    filter: grayscale(2); }
    main .main-index li img:hover {
      box-shadow: 0px 0.625rem 1.25rem #F23869;
      filter: grayscale(0); }
  main .about-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: none;
    width: 100%;
    height: 20rem;
    grid-template-areas: "grid1 grid1" "grid2 grid3" "grid2 grid3"; }
    main .about-index .grid-1 {
      grid-area: grid1; }
    main .about-index .grid-2 {
      grid-area: grid2; }
    main .about-index .grid-3 {
      grid-area: grid3; }
    main .about-index h2 {
      background-color: #030226;
      width: 100%;
      height: 4.25rem;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: white; }
    main .about-index div img {
      margin-top: .3125rem; }
    main .about-index p {
      background-color: #F23869;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 300;
      font-size: 1.1rem;
      text-transform: none;
      color: white;
      margin-top: .625rem;
      display: flex;
      align-items: center; }
  main .feed-index .titulo-feed {
    background-color: #030226;
    width: 100%;
    height: 4.25rem;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white; }
  main .feed-index div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin-top: .625rem; }
    main .feed-index div ul li {
      filter: grayscale(2);
      list-style: none; }
      main .feed-index div ul li:hover {
        filter: grayscale(0);
        box-shadow: 0px 0.625rem 1.25rem #F23869; }
  main .feed-index p {
    background-color: #F23869;
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: none;
    margin-top: .625rem; }
  main .sound-kit-index {
    padding-bottom: 1.5rem; }
    main .sound-kit-index h2 {
      background-color: #030226;
      width: 100%;
      height: 4.25rem;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: white; }
    main .sound-kit-index div ul {
      list-style: none;
      margin-top: 1.25rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: none;
      gap: 1.25rem;
      padding-bottom: 2rem; }
      main .sound-kit-index div ul li {
        filter: grayscale(2); }
        main .sound-kit-index div ul li:hover {
          filter: grayscale(0);
          box-shadow: 0px 0.625rem 1.25rem #F23869; }

.title-feed {
  width: 100%;
  height: 3.125rem;
  background-color: #030226;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: none;
  gap: none;
  margin-bottom: .625rem; }
  .title-feed h1 {
    width: 12.5rem;
    height: auto;
    font-family: 'Dosis', sans-serif;
    text-align: start;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: white; }
  .title-feed button {
    padding: .725rem .725rem;
    border: 0.125rem solid #3621BF;
    border-radius: .625rem;
    background-color: #21118C;
    color: #F23869; }
    .title-feed button a {
      text-decoration: none;
      color: #F23869; }

.publicacion {
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  margin-bottom: 5rem;
  margin-top: 5rem; }
  .publicacion h2 {
    background-color: #F23869;
    color: black;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.875rem;
    text-transform: none;
    border-radius: 1.25rem;
    padding: .625rem .625rem;
    margin-bottom: .625rem; }
  .publicacion .controls-feed {
    width: 60rem;
    height: 3.5rem;
    background-color: #3621BF;
    color: white;
    border: 0.125rem solid #F23869;
    border-radius: .3125rem;
    margin-bottom: 1rem;
    font-family: 'Dosis', sans-serif;
    text-align: none;
    font-weight: 300;
    font-size: 1.125rem;
    text-transform: none; }
  .publicacion .sent {
    width: 100%;
    background-color: #F23869;
    border: none;
    padding: .75rem;
    color: white;
    font-size: 1rem; }

.article-feed {
  background-color: #030226;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: none;
  width: 70%;
  margin: 0 auto; }
  .article-feed .caja {
    border: 0.0625rem solid #3621BF;
    background-color: #030226;
    color: white;
    height: 25rem;
    margin: .3125rem;
    overflow: hidden;
    margin-bottom: 1.5625rem;
    display: grid;
    grid-template-columns: 10% 15% 25% 50%;
    grid-template-rows: 20% 80%;
    justify-items: flex-start;
    align-items: none;
    grid-template-areas: "foto nombre nombre nombre" "img img img txt"; }
    .article-feed .caja .caja-foto {
      grid-area: foto;
      padding: 1rem; }
    .article-feed .caja .caja-nombre {
      grid-area: nombre;
      padding: 2rem 0rem; }
    .article-feed .caja .caja-img {
      grid-area: img;
      padding-left: 1rem;
      padding-bottom: 2rem; }
      .article-feed .caja .caja-img img {
        width: 75%;
        height: 100%;
        object-fit: contain; }
    .article-feed .caja .caja-txt {
      grid-area: txt;
      padding: 4rem 1rem 0rem 0rem;
      font-family: 'Dosis', sans-serif;
      text-align: left;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none; }

.main-tracks {
  width: 100%; }
  .main-tracks .title-tracks {
    width: 100%;
    background-color: #030226;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: none;
    gap: none;
    margin-bottom: .625rem;
    padding: 0rem 1rem; }
    .main-tracks .title-tracks h2 {
      width: 100%;
      height: auto;
      font-family: 'Dosis', sans-serif;
      text-align: start;
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      color: white; }
    .main-tracks .title-tracks button {
      padding: .725rem .725rem;
      border: 0.125rem solid #3621BF;
      border-radius: .625rem;
      background-color: #21118C;
      color: #F23869; }
      .main-tracks .title-tracks button a {
        text-decoration: none;
        color: #F23869; }
  .main-tracks .explore-tracks ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: none;
    gap: 1.25rem;
    margin-bottom: 1.875rem; }
    .main-tracks .explore-tracks ul li {
      filter: grayscale(2);
      list-style: none; }
      .main-tracks .explore-tracks ul li:hover {
        filter: grayscale(0);
        box-shadow: 0px 0.625rem 1.25rem #F23869; }

.filtros-tracks {
  margin-bottom: 1.875rem;
  border: 1px solid white;
  padding: 1rem 1rem; }
  .filtros-tracks ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: none;
    gap: 1.25rem; }
    .filtros-tracks ul li {
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 300;
      font-size: 0.625rem;
      text-transform: none;
      color: white;
      list-style: none;
      padding: .0625rem 1rem;
      background-color: #21118C;
      border: 0.0625rem solid #F23869;
      border-radius: .3125rem; }
      .filtros-tracks ul li p {
        text-align: center; }

.button-filtros, .button-refresh button {
  padding: .375rem .375rem;
  border: 0.125rem solid #3621BF;
  background-color: #21118C;
  color: #F23869; }
  .button-filtros a, .button-refresh button a {
    text-decoration: none;
    color: #F23869; }

.button-refresh {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: none; }
  .button-refresh button {
    border-radius: 2.5rem;
    margin-bottom: 1rem; }

.tracks-tracks {
  margin: .9375rem auto; }
  .tracks-tracks ul {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: none;
    grid-template-areas: "f1 f2 f3 f4 . . f5 f5";
    column-gap: 1.25rem; }
    .tracks-tracks ul li {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: none;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none;
      list-style: none; }
      .tracks-tracks ul li p {
        background-color: #21118C;
        border: 0.0625rem solid #F23869;
        border-radius: .625rem; }
  .tracks-tracks .f-1 {
    grid-area: f1; }
  .tracks-tracks .f-2 {
    grid-area: f2; }
  .tracks-tracks .f-3 {
    grid-area: f3; }
  .tracks-tracks .f-4 {
    grid-area: f4; }
  .tracks-tracks .f-5 {
    grid-area: f5; }

.tracks-list {
  background-color: #030226;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 70%;
  margin: 0 auto; }
  .tracks-list h2 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem; }
  .tracks-list .publi-cacion {
    border: 1px solid #3621BF;
    background-color: #030226;
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: none;
    margin: .3125rem;
    margin-bottom: 1.5625rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: none;
    list-style: none; }
    .tracks-list .publi-cacion p {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none; }
    .tracks-list .publi-cacion img {
      padding: 1rem; }

.the-most-selled {
  width: 100%;
  height: 20rem;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.625rem;
  text-transform: uppercase;
  color: white;
  padding: 1rem 0rem; }
  .the-most-selled h2 {
    font-size: 2rem; }
  .the-most-selled iframe {
    padding: 1rem 1rem;
    width: 100%;
    height: 15rem; }

.main-sound {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: none; }
  .main-sound .title-main-sound {
    width: 100%;
    background-color: #030226;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: none;
    gap: none;
    margin-bottom: .625rem;
    padding: 0rem 1rem; }
    .main-sound .title-main-sound h2 {
      width: 100%;
      height: auto;
      font-family: 'Dosis', sans-serif;
      text-align: start;
      font-weight: 700;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: white; }
  .main-sound .explore-sound {
    margin-bottom: 1rem;
    width: 100%; }
    .main-sound .explore-sound ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: none;
      gap: 1.625rem;
      margin-bottom: 1.875rem; }
      .main-sound .explore-sound ul li {
        filter: grayscale(2);
        list-style: none; }
        .main-sound .explore-sound ul li:hover {
          filter: grayscale(0);
          box-shadow: 0px 0.625rem 1.25rem #F23869; }

.button-sound, .main-sound-2 ul button {
  padding: .725rem .725rem;
  border: 0.125rem solid #3621BF;
  border-radius: .625rem;
  background-color: #21118C;
  color: #F23869; }
  .button-sound a, .main-sound-2 ul button a {
    text-decoration: none;
    color: #F23869; }

.main-sound-2 {
  border: 1px solid white;
  padding: 1rem 1rem; }
  .main-sound-2 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: none;
    gap: 1.25rem;
    margin-bottom: 1.625rem; }
    .main-sound-2 ul li {
      font-family: 'Dosis', sans-serif;
      text-align: none;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none;
      color: white;
      padding: .3125rem .3125rem;
      background-color: #21118C;
      border: 0.0625rem solid #F23869;
      border-radius: 1rem;
      list-style: none; }
    .main-sound-2 ul button {
      padding: .375rem .375rem; }

.filtro-busqueda {
  margin: .9375rem auto; }
  .filtro-busqueda ul {
    width: 100%;
    height: 2rem;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: none;
    gap: none; }
    .filtro-busqueda ul li {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: none;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none;
      list-style: none; }
      .filtro-busqueda ul li p {
        padding: .3125rem .3125rem;
        background-color: #21118C;
        border: 0.0625rem solid #F23869;
        border-radius: .625rem; }

.main-sound-3 {
  background-color: #030226;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 60%;
  margin: 0 auto; }
  .main-sound-3 .m1 {
    border: 1px solid #3621BF;
    background-color: #030226;
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: none;
    font-weight: 300;
    font-size: 1rem;
    text-transform: none;
    height: 20rem;
    margin: .3125rem;
    overflow: hidden;
    margin-bottom: 1.5625rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: none; }
    .main-sound-3 .m1 li {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1.25rem;
      padding: 1rem; }
    .main-sound-3 .m1 img {
      order: 1;
      padding-left: 1rem; }
    .main-sound-3 .m1 audio {
      order: 3;
      width: 15rem; }
    .main-sound-3 .m1 p {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: start;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none;
      width: 25rem;
      order: 2; }
  .main-sound-3 .m4 {
    border: 1px solid #3621BF;
    background-color: #030226;
    color: white;
    height: 20rem;
    margin: .3125rem;
    overflow: hidden;
    margin-bottom: 1.5625rem; }
    .main-sound-3 .m4 li {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1.25rem;
      padding: 2rem; }
    .main-sound-3 .m4 p {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: start;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none;
      width: 25rem; }

.main-about-us {
  background-color: #3621BF;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem; }
  .main-about-us h2 {
    color: #F23869;
    font-family: 'Dosis', sans-serif;
    text-align: start;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase; }
  .main-about-us p {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: none; }

.main-about-us-2 .tittle-we h2 {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem; }

.main-about-us-2 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem; }
  .main-about-us-2 ul li {
    list-style: none; }

.meet h2 {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0rem; }

.main-about-us-3 {
  padding: 1rem; }
  .main-about-us-3 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: none; }
    .main-about-us-3 ul li {
      list-style: none; }
      .main-about-us-3 ul li p {
        color: white;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        font-weight: 300;
        font-size: 1.25rem;
        text-transform: none;
        padding-top: .625rem; }

.words h2 {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0rem; }

.main-about-us-4 ul {
  background-color: #030226;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 100%;
  height: auto;
  margin: 0 auto; }

.main-about-us-4 .staff-1 li {
  border: 1px solid #3621BF;
  background-color: #030226;
  color: white;
  margin: .3125rem;
  overflow: hidden;
  margin-bottom: 1.5625rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%; }
  .main-about-us-4 .staff-1 li img {
    order: 1; }
  .main-about-us-4 .staff-1 li p {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: .625rem 0rem;
    order: 3; }
  .main-about-us-4 .staff-1 li h6 {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: .625rem;
    order: 2; }

footer {
  background-color: #21118C; }
  footer .form-footer {
    width: 100%;
    background-color: #3621BF;
    padding: 1.875rem;
    font-family: 'Dosis', sans-serif;
    color: white;
    box-shadow: .4375rem .8125rem 2.3125rem #000; }
    footer .form-footer h3 {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 300;
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-bottom: 1.25rem; }
    footer .form-footer .controls {
      width: 100%;
      background-color: #3621BF;
      color: white;
      padding: .625rem;
      border: 0.125rem solid #F23869;
      border-radius: .3125rem;
      margin-bottom: 1rem;
      font-family: 'Dosis', sans-serif;
      text-align: none;
      font-weight: 300;
      font-size: 1rem;
      text-transform: none; }
    footer .form-footer .boton {
      width: 100%;
      background-color: #F23869;
      border: none;
      padding: .75rem;
      color: white;
      margin: 1rem 0rem;
      font-size: 1rem; }
    footer .form-footer fieldset {
      color: white; }
    footer .form-footer h4 {
      color: white;
      font-family: 'Dosis', sans-serif;
      text-align: center;
      font-weight: 300;
      font-size: 1rem;
      text-transform: uppercase; }

/* en cuarto lugar, los elementos de components*/
/* por ultimo, los elementos de mediaquery*/
@media (max-width: 768px) {
  .main-about-us {
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .controls-feed {
    width: 30rem; }
  .about-index .grid-3 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    text-transform: none; }
  .main-about-us-3 ul {
    flex-direction: column; }
  header .nav-wrapper nav .header-1 h1 {
    display: none; }
  header .nav-wrapper nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
    header .nav-wrapper nav .menu .navbar-1 ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0.5rem 0px; }
  header .nav-wrapper nav label {
    display: flex;
    color: white;
    cursor: pointer; }
  header .nav-wrapper nav #toggle:checked ~ .menu {
    height: 100%; }
  .tracks-tracks ul {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "f1 f2 . f3";
    justify-items: flex-start; }
  .f-4 {
    display: none; }
  .f-5 {
    display: none; } }

@media (max-width: 425px) {
  .main-about-us-3 ul {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header-1 h1 {
    display: none; }
  .item-navbar {
    display: none; }
  .navbar-header-2 {
    display: none; }
  header {
    height: 5.5rem; }
  .header-1 img {
    padding: 0; }
  .header-1 {
    align-items: center; }
  .staff-1 li p {
    width: auto; }
  main .main-index .titulo-main {
    font-size: 2rem;
    padding-top: 1rem; }
  main .about-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: none;
    grid-template-areas: "grid1" "grid2" "grid3";
    margin-bottom: 12rem; }
    main .about-index h2 {
      font-size: 2rem;
      margin-top: 1rem; }
    main .about-index img {
      padding-bottom: 0.8rem; }
  main .feed-index .titulo-feed {
    font-size: 2rem;
    margin-top: 2rem; }
  main .feed-index p {
    font-size: 1rem; }
  main .sound-kit-index h2 {
    font-size: 2rem;
    margin-top: 2rem; }
  header .nav-wrapper {
    padding: 1rem 0rem; }
    header .nav-wrapper .header-1 {
      padding: 0rem 0rem 0rem .5rem; }
    header .nav-wrapper nav .menu {
      width: 100%;
      height: 0;
      overflow: hi; }
    header .nav-wrapper nav ul {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0px; }
    header .nav-wrapper nav label {
      display: flex;
      color: white;
      cursor: pointer;
      padding: 0rem .5rem; }
    header .nav-wrapper nav #toggle:checked ~ .menu {
      height: 100%; }
  .tracks-tracks ul {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "f1 f2";
    align-items: flex-start;
    justify-items: flex-start; }
  .f-4 {
    display: none; }
  .f-5 {
    display: none; }
  .f-3 {
    display: none; }
  .main-tracks .title-tracks {
    padding-top: 1rem; }
  .main-tracks .title-tracks h2 {
    font-size: 1.5rem; }
  .main-tracks .title-tracks button {
    padding: .1rem .1rem; }
  .main-tracks .title-tracks button a {
    font-size: 1rem; }
  .tracks-list h2 {
    font-size: 1.5rem; }
  .the-most-selled h2 {
    font-size: 1.5rem; } }

nav .menu {
  width: 100%;
  height: 0;
  overflow: hidden; }

nav ul {
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0px; }

nav label {
  display: flex;
  color: white;
  cursor: pointer; }

nav #toggle:checked ~ .menu {
  height: 100%; }

@media (max-width: 375px) {
  main .main-index .titulo-main {
    font-size: 1.75rem; }
  main .about-index h2 {
    font-size: 1.75rem; }
  main .feed-index {
    padding-top: 2rem; }
    main .feed-index .titulo-feed {
      font-size: 1.75rem; }
  main .sound-kit-index h2 {
    font-size: 1.75rem; }
  .main-about-us-2 h2 {
    font-size: 1.75rem; }
  .meet h2 {
    font-size: 1.75rem; }
  .words h2 {
    font-size: 1.75rem; } }

@media (max-width: 320px) {
  main .main-index .titulo-main {
    font-size: 1.5rem; }
  main .about-index h2 {
    font-size: 1.5rem; }
  main .feed-index .titulo-feed {
    font-size: 1.5rem;
    padding-top: 1.5rem; }
  main .sound-kit-index h2 {
    font-size: 1.5rem; }
  main .main-tracks .title-tracks h2 {
    font-size: 1.5rem; }
  main .main-tracks .title-tracks button {
    padding: 0rem .5rem; }
    main .main-tracks .title-tracks button a {
      font-size: 1rem; }
  main .tracks-list h2 {
    font-size: 1.5rem; }
  main .the-most-selled h2 {
    font-size: 1.25rem; }
  .main-about-us-2 .tittle-we h2 {
    font-size: 1.5rem; }
  .meet h2 {
    font-size: 1.5rem; }
  .words h2 {
    font-size: 1.5rem; } }
