@media (max-width: 768px){
    .main-about-us {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .controls-feed{
        width: 30rem;
    } 
    .about-index {
        .grid-3{
            @include text(center, 300, map-get($font-size,9), none);
        }
    }
    .main-about-us-3 ul{
        flex-direction: column;
    }
header{
    .nav-wrapper{
        nav{
            .header-1{
                h1{
                    display: none;
                }
            }
            .menu{
                width: 100%;
                height: 0;                
                overflow: hidden;
                .navbar-1{
                    ul{
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 0.5rem 0px;
                    }
                }
            }
            label{
                display: flex;
                color: white;
                cursor: pointer;
            }
            #toggle:checked ~ .menu{
                height: 100%;
            }
        }
}   
}
    .tracks-tracks ul{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "f1 f2 . f3";
        justify-items: flex-start;
    }
    .f-4{
        display: none;
    }
    .f-5{
        display: none;
    }
}