@media (max-width: 768px){
    .main-about-us {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .main-about-us-3 ul{
        flex-direction: column;
    }
    .controls-feed{
        width: 30rem;
    } 
main{
    .main-index{
        .titulo-main{
            font-size: map-get($font-size,2);
        }
    }
    .about-index{
        @include grid(1fr, 20% 40% 40%, center,none);
        grid-template-areas: 
        "grid1"
        "grid2"
        "grid3"
        ;
        h2{
            font-size: map-get($font-size,2);
            margin-top: 1rem;
        }
        img{
            padding-bottom: 1.2rem;
        }
        .grid-3{
            @include text(center, 300, map-get($font-size,9), none);
        }
    }
    .feed-index{
        .titulo-feed{
            padding-top: .5rem;
            margin: 0rem;
            font-size: map-get($font-size,2);
        }
    }
}
header{
    .nav-wrapper{
        nav{
            .header-1{
                h1{
                    display: none;
                }
            }
            .menu{
                width: 100%;
                height: 0;                
                overflow: hidden;
                .navbar-1{
                    ul{
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 0.5rem 0px;
                    }
                }
            }
            label{
                display: flex;
                color: white;
                cursor: pointer;
            }
            #toggle:checked ~ .menu{
                height: 100%;
            }
        }
}   
}
.filtros-tracks{
    ul{
        .filtros-none-3{
            display: none;
        }
    }
}
    .tracks-tracks ul{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "f1 f1 f5 f5";
        justify-items: self-start;
        padding: 0 1rem;
    }
    .f-4{
        display: none;
    }
    .f-3{
        display: none;
    }
    .f-2{
        display: none;
    }
.title-feed{
    width: 100%;
    height: 3.125rem;
    background-color: $bg-fondo;
    @include flex(row,nowrap,space-between,none,none);
    margin-bottom: .625rem;
    padding: 0rem 2rem;
    h1{
        width: 12.5rem;
        height: auto;
        @include text(start,700,map-get($font-size,2),uppercase);
        color: $color-blanco;
    }
    button{
        padding: .525rem .525rem;
        border: .125rem solid $color-claro;
        border-radius: .625rem;
        background-color: $color-azul;
        color: $color-rosa;
        a{
            text-decoration: none;
            color: $color-rosa;
        }
    }
}
.publicacion{
    padding: 0rem 4rem;
    h2{
        @include text(center,700,map-get($font-size,5),none);
        width: 75%;
    }
    form{
        width: 75%;
    }
}
.article-feed{
    article{
        .caja{
            @include grid(1fr,15% 50% 35%,center,center);
            grid-template-areas: 
            "foto"
            "img"
            "txt"
            ;
            .caja-foto{
                padding: 0rem 1rem;
                @include flex(row,nowrap,center,center,1.5rem);
                @include text(center, 700, map-get($font-size,7),none);
            }
            .caja-img{
                padding: 0rem 1rem;
            }.caja-txt{
                grid-area: txt;
                padding: 3rem 1rem;
                @include text(center, 300, map-get($font-size,9),none);
            }
        }
    }
}
.main-sound{
    .title-main-sound{
        h2{
            font-size: map-get($font-size,4);
        }
    }
    .explore-sound{
        ul{
            padding: 1rem;
        }
    }
}
.main-sound-2{
    ul{
        .filtro-n3{
            display: none;
        }
    }
}
.main-sound-3{
    ul{
        padding-left: 0rem;
        .m1{
            .foto-audio{
                img{
                    width: 50%;
                }
                audio{
                    width: 50%;
                }
            }
            .sonido-texto{
                p{
                    font-size: map-get($font-size,9);
                }
            }
        }
        .m4{
            p{
                font-size: map-get($font-size,9);
            }
        }
    }
}
.the-most-selled{
    h2{
        font-size: map-get($font-size,11);
    }
    iframe{
        width: 75%;
    }
}
}