@media (max-width: 375px){
    main{
        .main-index{
            .titulo-main{
                font-size: map-get($font-size,4);
            }
        }
        .about-index{
            h2{
                font-size: map-get($font-size,4);
            }
        }
        .feed-index{
            padding-top: 2rem;
            .titulo-feed{
                font-size: map-get($font-size,4);
            }
        }
        .sound-kit-index h2{
            font-size: map-get($font-size,4);
        }
    }
    .main-about-us-2{
        h2{
            font-size: map-get($font-size,4);
        }
    }
    .meet{
        h2{
            font-size: map-get($font-size,4);
        }
    }
    .words{
        h2{
            font-size: map-get($font-size,4);
        }
    }
    .title-feed{
        padding-top: 1.5rem;
        h1{
            font-size: map-get($font-size,4);
        }
        button{
            padding: .325rem .325rem;
            }
        }
    .publicacion{
        padding: 0rem 2rem;
        h2{
            font-size: map-get($font-size,6);
            width: 75%;
        }
        form{
            width: 75%;
        }
    }
    .article-feed{
        width: 90%;
    }
}

