@media (max-width: 320px){
main{
    .main-index{
        .titulo-main{
            font-size: map-get($font-size,6);
            margin: 0;
        }
    }
    .about-index{
    h2{
        font-size: map-get($font-size,6);
    }
    }
    .feed-index{
        .titulo-feed{
            font-size: map-get($font-size,6);
            padding-top: .5rem;
        }
    }
    .sound-kit-index h2{
        font-size: map-get($font-size,6);
        margin-top: 1rem;
        margin-bottom: 0;
        padding-top: 1rem;
    }
    .main-tracks{
        .title-tracks{
            h2{
                font-size: map-get($font-size,5);
            }
            button{
                padding: 0rem .5rem;
                a{
                    font-size: map-get($font-size,9);
                }
            }
        }
    }
        .tracks-list{
            h2{
                font-size: map-get($font-size,5);
            }
        }
        .the-most-selled h2{
            font-size: map-get($font-size,6);
        }
    }
    .main-about-us-2{
        .tittle-we{
            h2{
            font-size: map-get($font-size,6);
        }
    }
    }
    .meet{
        h2{
            font-size: map-get($font-size,6);
        }
    }
    .words{
        h2{
            font-size: map-get($font-size,6);
        }
    }
    .main-sound{
        .title-main-sound{
            h2{
                font-size: map-get($font-size,6);
            }
        }
        .explore-sound{
            margin-top: 1rem;
        }
    }
    .button-sound{
        button{
            padding: .25rem .5rem;
            a{
                font-size: map-get($font-size,10);
            }
        }
    }
    .main-sound-3{
        width: 95%;
        padding: .625rem;
        ul{
            .m1{
                .foto-audio{
                    img{
                        width: 80%;
                    }
                    audio{
                        width: 100%;
                    }
                }
            }
        }
    }
}
